html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, serif;
    font-size: 12px;
}
table {
    border-collapse: collapse;
}
table td, table th {
    padding: 0;
    border: none 0;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
    line-height: normal !important;
}
input[type="text"],
input[type="password"],
textarea {
    outline: none;
    resize: none;
}
h1, h2, h3 {
    font-weight: normal;
}
a, a:focus {
    outline: none;
}
a img {
    border: none;
}
.clear {
    float: none;
    clear: both;
    font-size: 0;
}
.wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    position: relative;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    float: none;
    clear: both;
}