/** В этом файле будут находиться универсальные классы блоков **/
.clearfix:before,
.clearfix:after,
.clear{
    content: " ";
    display: table;
    clear: both;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
    position: relative;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.inline-dl__dd{
    padding: 0;
    margin: 0;
    display: inline;
}
.inline-dl__dt{
    display: inline;
}
.inline-dl__dd:after{
    content: "";
    display: block;
    float: none;
    clear: both;
    font-size: 0;
}

.checkbox-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}
.checkbox-label:before {
    content:" ";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    box-sizing: border-box;
    margin-right: 5px;
    vertical-align: top;
    line-height: 13px;
}
.checkbox {
    display: none;
}
.checkbox:checked + .checkbox-label:before {
    content: "\2713";
    text-align: center;
    /*background: url("img/sprite.png") no-repeat scroll -34px -299px rgba(0, 0, 0, 0);*/
}

.tabs{
    border: none;
    padding: 0;

}
.tabs__list,
.ui-tabs .ui-tabs-nav.tabs__list{
    background: none;
    border: none;
    padding: 0;
    border-bottom: #fe6f20 2px solid;
    border-radius: 0;
}
.tabs__item,
.ui-tabs .ui-tabs-nav li.tabs__item{
    padding: 0;
    margin: 0 10px -2px 0;
    border: #fe6f20 2px solid;
    border-radius: 0;
    position: relative;
}
.tabs__item--current,
.ui-tabs .ui-tabs-nav li.ui-tabs-active.tabs__item{

}
.tabs__title,
.ui-tabs .ui-tabs-nav .ui-tabs-anchor.tabs__title{
    background: #fe6f20;
    color: #fff;
    border-radius: 0;
    height: 33px;
    line-height: 33px;
    padding: 0 10px;
    position: relative;
}
.tabs__title--active,
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor.tabs__title{
    background: none;
    color: #fe6f20;
    position: relative;
    z-index: 6;
}
.tabs__title--active:after,
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor.tabs__title:after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background: none repeat scroll 0 0 #fff;
    height: 2px;
    right: 0;
}
.tabs__panes{
    padding: 20px 0;

}
.tabs__panes p:first-child{
    margin-top: 0;
}
.tabs__panes p:last-child{
    margin-bottom: 0;
}

.tabs__pane,
.ui-tabs .ui-tabs-panel.tabs__pane{
    font-size: 12px;
    padding: 0;

}